
// body
body {
	font-family: $font-stack;
	font-weight: $font-weight-medium;

	@media (min-width: $breakpoint-tablet) {
    margin: auto;
  }
}

h1 {
	font-weight: $font-weight-medium;
	font-size: $font-size-medium;
}

h2 {
	font-size: $font-size-xx-large;
	font-weight: $font-weight-extra-bold;
}



