// general
.wrapper {
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    border-radius: $border-radius-l;
    background-color: $white;
    box-shadow: 0 0 20px 10px $pale-blue;

    &:hover {
      box-shadow: 0 0 20px 0 $light-lavender;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    width: 600px;
  }
}

.bg-gradient {
  color: $white;
  padding: 3rem;
  max-width: 365px;
  background: linear-gradient($light-state-blue, $light-royal-blue);
  border-bottom-left-radius: $border-radius-l;
  border-bottom-right-radius: $border-radius-l;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  @media (min-width: $breakpoint-tablet) {
    border-top-right-radius: $border-radius-l;
    border-top-left-radius: $border-radius-l;
  }
}

.content {
  width: auto;

  @media (min-width: $breakpoint-desktop) {
    width: 100%;
  }
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient($violet-blue, $persian-blue);
}

.gap {
  &-xs {
    gap: $gap-xs;
  }
  &-s {
    gap: $gap-s;
  }
}

// specific font stylings
.font-medium {
	font-size: $font-size-medium;
	font-weight: $font-weight-bold;
}

.font-transparent {
  color: transparentize($white, 0.5);
}

.bold-light {
  font-weight: $font-weight-bold;
  color: transparentize($dark-gray-blue, 0.5);
}

.bold-dark {
  font-weight: $font-weight-bold;
  color: $dark-gray-blue;
}

// spacings
.padding {
  padding: 14px;
}

.margin {
  margin: 24px;
}

// details
.reaction {
  color: $light-red;
  background-color: transparentize($light-red, 0.9);
  border-radius: $border-radius-s;
}

.memory {
  color: $orange-yellow;
  background-color: transparentize($orange-yellow, 0.9);
  border-radius: $border-radius-s;
}

.verbal {
  color: $green-teal;
  background-color: transparentize($green-teal, 0.9);
  border-radius: $border-radius-s;
}

.visual {
  color: $cobalt-blue;
  background-color: transparentize($cobalt-blue, 0.9);
  border-radius: $border-radius-s;
}

// button
.button {
  color: $white;
  background-color: $dark-gray-blue;
  padding: 14px;
  border-radius: $border-radius-l;

  &:hover {
    cursor: pointer;
    background: linear-gradient($light-state-blue, $light-royal-blue);
  }

  a {   
    &:hover {
        color: $white;
    }
  }
}

// attribution
.attribution {
  font-size: 14px;
}

