// general
.wrapper {
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    border-radius: $border-radius-l;
    background-color: $white;
    box-shadow: 0 0 20px 10px $pale-blue;

    &:hover {
      box-shadow: 0 0 20px 0 $light-lavender;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    width: 600px;
  }
}

.bg-gradient {
  color: $white;
  padding: 3rem;
  max-width: 365px;
  background: linear-gradient($light-state-blue, $light-royal-blue);
  border-bottom-left-radius: $border-radius-l;
  border-bottom-right-radius: $border-radius-l;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  @media (min-width: $breakpoint-tablet) {
    border-top-right-radius: $border-radius-l;
    border-top-left-radius: $border-radius-l;
  }
}

.content {
  width: auto;
  margin: 24px;

  @media (min-width: $breakpoint-desktop) {
    width: 100%;
  }
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient($violet-blue, $persian-blue);
}

// specific font stylings
.text-medium {
	font-size: $font-size-medium;
	font-weight: $font-weight-bold;
}

.white-transparent {
  color: transparentize($white, 0.5);
}

.text-bold {
  color: $dark-gray-blue;
  font-weight: $font-weight-bold;

}

.gray-transparent {
  color: transparentize($dark-gray-blue, 0.5);
}


// list items
.items {
  padding: 0;
  margin: 0;

  .item {
  padding: 14px;
  border-radius: $border-radius-s;

    &.item-reaction {
      color: $light-red;
      background-color: transparentize($light-red, 0.9);
    }

    &.item-memory {
      color: $orange-yellow;
      background-color: transparentize($orange-yellow, 0.9);
    }

    &.item-verbal {
      color: $green-teal;
      background-color: transparentize($green-teal, 0.9);
    }

    &.item-visual {
      color: $cobalt-blue;
      background-color: transparentize($cobalt-blue, 0.9);
    }
  }
}


// button
.button {
  color: $white;
  background-color: $dark-gray-blue;
  padding: 14px;
  border-radius: $border-radius-l;

  &:hover {
    cursor: pointer;
    background: linear-gradient($light-state-blue, $light-royal-blue);
  }

  a {   
    color: $white;

    &:hover {
        color: $white;
    }
  }
}

// attribution
.attribution {
z-index: -1;
  font-size: 14px;
}

